# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments and Secrets
.env
.env.*
!.env.example
venv/
.venv/
env/

# Operating System Files
.DS_Store
Thumbs.db
desktop.ini

# Logs and databases
*.log
*.sqlite3
